@font-face {

  font-family: 'RomanS' ;
  src: local('RomanS'), url("../fonts/romans__.ttf") format('truetype');
}

@font-face {
  font-family: 'MS Reference Sans Serif';
  src: local('MS Reference Sans Serif'), url("../fonts/refsan__.ttf") format('truetype');
}
