@import "../../../styles/settings.scss";

.box {
  padding: $base-padding-bottom 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .imageBox {
    flex: 2;
    img {
      width: auto;
      height: 450px;
      padding: 20px;
      @extend %baseBorderShadow;
      @extend  %baseBorderImage;
    }
  }

  .description {
    font-size: 20px;
    width: 80%;
    height: 100%;
    flex: 2;
    font-family: $font-text;
    font-weight: 900;
    padding-left: 50px;

    .link {
      padding-top: $base-padding;
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: $color-top;
        text-transform: uppercase;
        font-family: $font-title;
        &:hover {
          color: $color-grey-text;
        }

      }
    }
  }

  .name {
    flex:2;
    text-transform: uppercase;
    font-family: $font-text;
    font-weight: 900;
    font-size: 60px;
  }
}
