@import "../../../styles/settings.scss";
.box {
  display: flex;
  flex-direction: row;
  padding-bottom: $base-padding-bottom;

  .text {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    width: 100%;
    justify-content: center;

    a {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: $base-padding-bottom;
      padding-bottom: $base-padding;
      text-decoration: none;
      color: $color-top;

      &:hover {
        .icon {
          color: #ddb246;
        }
      }

    }

    .link {
      font-size: 28px;
      padding-right: $base-padding-bottom;
    }
  }
  .image {
    img {
      max-height: 600px;
    }
  }
}
