@import "../../../styles/settings.scss";

.root {
  background-color: $color-grey-dark;
  @extend %baseBoxShadow;
}
.box {
  display: flex;
  flex-direction: row;
  padding-bottom: $base-padding-bottom;

}
.description {
  @extend %font-text;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: $base-padding;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  img {
    max-width: 300px;
    background-color: white;
    padding: 15px;
    @extend %baseBoxShadow;
  }
}
