@import "../../../styles/settings.scss";

.root {
  background-color: $color-grey-light;
  padding: 80px 0;
  box-shadow: inset 0 0 1em $color-grey-line;
}


.aboutBox {
  display: flex;
  flex-direction: row;
  padding: 30px 0 80px 0;


  .description {
    display: flex;
    flex-direction: column;
    span {
      font-size: 28px;
      padding-bottom: $base-padding;
    }
    @extend %font-text;
    align-items: center;
    justify-content: center;
    text-align: start;
    font-size: 22px;
    height: 100%;
    padding-right: 50px;
  }
}

.imageBox {

  .image {
    max-width: 400px;
    padding: 5px;
    @extend %baseBorderImage;
    @extend %baseBorderShadow;
  }
}

.photoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    max-width: 18%;
    padding: 5px;
    @extend %baseBorderImage;
    @extend %baseBorderShadow;

  }
}
