@import "../../../styles/settings.scss";

.root {
  background-color: $color-grey-border;
  padding-bottom: 30px;
  @extend %baseBorderShadow;
}

.headerBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  height: 600px;

  .imageBox {
    img {
    max-height: 600px;
    }
  }
  .textBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    .title1 {
      font-size: 90px;
      color: $color-top;
      font-weight: 900;
      padding-bottom: $base-padding;
      font-family: $font-title;
    }

    .title2 {
      color: $color-top;
      font-size: 50px;
      font-family: $font-text;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;

    }

    .title3 {
      color: $color-grey-text;
      font-size: 35px;
      font-family: $font-text;
      font-weight: 900;
      text-transform: uppercase;
      padding-top: $base-padding;
    }
  }
}
