@import "../../../styles/settings.scss";

.headerBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 600px;

  .imageBox {
    img {
    max-height: 600px;
    }
  }
  .textBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;

    .title1 {
      font-size: 70px;
      color: $color-top;
      font-weight: 900;
      padding-bottom: $base-padding;
      font-family: $font-title;
    }

    .title2 {
      color: $color-top;
      font-size: 35px;
      font-family: $font-text;
      font-weight: 900;
    }

    .title3 {
      color: $color-grey-text;
      font-size: 30px;
      font-family: $font-text;
      font-weight: bold;
    }
  }
}
