@import "../../../styles/settings.scss";
.root {
  background-color: $color-grey-medium;
  padding: 80px 0;
}

.box {
  padding-top: $base-padding-bottom;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .imageBox {

    flex: 2;
    img {
      width: 80%;
      height: 80%;
      padding: 10px;
      @extend %baseBorderShadow;
      @extend  %baseBorderImage;
    }
  }

  .description {
    width: 80%;
    flex: 2;
    font-family: $font-text;
    font-weight: 900;

  }

  .name {
    flex:2;
    text-transform: uppercase;
    font-family: $font-text;
    font-weight: 900;
    font-size: 60px;
  }
}
