@import "../../../styles/settings.scss";
.root {
  background-color: $color-grey-light;
  @extend %baseBoxShadow;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .imageBox {

    flex: 2;
    img {
      width: 80%;
      height: 80%;
    }
  }
  .descriptionBox {
    flex:2;
  }
}
