@import "../../../styles/settings.scss";

.box {
  min-width: 140px;
  min-height: 120px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @extend %baseBorderImage;
  @extend %baseBorderShadow;

  &:hover {

    .icon {
      height: 30px;
      transition: 0.5s linear;
    }
    .text {
      display: flex;
      font-size: 16px;

    }
  }

  .icon {
    height: 60px;
    color: $color-top;
  }

  .text {
    display: none;
    font-family: $font-text;
    color: black;
    font-weight: 900;
    padding-top: $base-padding;
    text-transform: uppercase;
  }
}
