@import "../../../styles/settings.scss";

.box {
  min-width: 220px;
  margin: 10px;
  padding: $base-padding 35px;
  @extend %baseBorderImage;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @extend %baseBorderShadow;


  .icon {
    font-size: 60px;
    color: $color-grey-text;
  }

  .text {
    font-size: 18px;
    font-family: $font-text;
    color: black;
    font-weight: 900;
    padding-top: $base-padding;
    text-transform: uppercase;
  }
}
